{% extends 'base.html.twig' %}

{% block title %}{{ (messages_key ~ '.title')|trans|capitalize }}{% endblock %}

{% block body %}
  <div class="container">

    {# Breadcrumb #}
    {% include 'default/_breadcrumb.html.twig' with {
      links: {
        ('Home'|trans): path('homepage'),
        ('Maths'|trans|capitalize): '#',
      },
      active: (messages_key ~ '.name')|trans|capitalize
    } %}

    {% include 'maths/_level_form.html.twig' with { 'form': levelForm } %}

    {% if form_generated or pass is not same as(null) %}
      <div id="main_form_container" class="row">
        <div class="col">

          <p>{{ (messages_key ~ '.explanation')|trans }}</p>

          {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
          {{ form_start(form) }}
          {{ form_widget(form) }}

          <div class="actions">
            <button type="submit" class="btn btn-primary">{{ 'resolve.check'|trans|capitalize }}</button>
          </div>

          {{ form_end(form) }}

        </div>
      </div>

      {% include 'common/_pass.html.twig' %}

    {% endif %}
  </div>
{% endblock %}

{% block page_js %}
  {% if javascripts is defined %}
    {% for js_file in javascripts %}
      <script src="{{ asset('assets/js/' ~ js_file) }}"></script>
    {% endfor %}
  {% endif %}

  <script type="text/javascript">
      $(document).ready(function() {
          {# If the exercice is completed, disable the form #}
          {% if pass is defined and pass %}
              formDisable('#main_form_container form');

          {% else %}
              {% if levelParams.time is defined %}
                  setTimeout(function() {
                      $('#main_form_container form div.actions button.btn-primary').click();
                  }, {{ levelParams.time * 1000 }});
              {% endif %}
          {% endif %}
      });
  </script>

{% endblock %}
