{% extends 'base.html.twig' %}

{% block title %}{% trans %}Complete the numeric series{% endtrans %}{% endblock %}

{% block body %}
  <div class="container">

    {# Breadcrumb #}
    {% include 'default/_breadcrumb.html.twig' with {
      links: {
        ('Home'|trans): path('homepage'),
        ('Maths'|trans): '#',
      },
      active: 'Series'|trans
    } %}

    {% include 'maths/_level_form.html.twig' with { 'form': levelForm } %}

    {% if serie %}
      <div class="row">
        <div class="col">

          {{ dump(serie) }}
          {{ dump(gaps) }}

          {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
          {{ form_start(form) }}
          {{ form_widget(form) }}

          <div class="actions">
            <button type="submit" class="btn btn-primary">{% trans %}Check{% endtrans %}</button>
          </div>

          {{ form_end(form) }}

        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}