{% extends 'base.html.twig' %}

{% block main_attrs %}
  style="background-image: url('{{ asset('assets/images/school-times-3599175_1920.jpg') }}');"
{% endblock %}

{% block body %}
  <div class="container">

    <div class="row">

      <div class="col-md">
        {% set content %}
          <h1>{% trans %}Hello{% endtrans %}</h1>
          <p>{% trans %}home.presentation{% endtrans %}</p>
          <p>{% trans %}home.howto{% endtrans %}</p>
        {% endset %}
        {% include 'common/_portlet.html.twig' %}
      </div>

      <div class="col-md">
        {% set content %}
          <h2>{% trans %}Maths{% endtrans %}</h2>
          <ul>
            <li><a href="{{ path('maths_sort') }}">{{ 'maths.sort.name'|trans|capitalize }}</a></li>
            <li><a href="{{ path('maths_series') }}">{{ 'maths.series.name'|trans|capitalize }}</a></li>
            <li><a href="{{ path('maths_continueFrom') }}">{{ 'maths.continueFrom.name'|trans|capitalize }}</a></li>
            <li><a href="{{ path('maths_strategies') }}">{{ 'maths.strategies.name'|trans|capitalize }}</a></li>
            <li><a href="{{ path('maths_tables') }}">{{ 'maths.tables.name'|trans|capitalize }}</a></li>
          </ul>
        {% endset %}
        {% include 'common/_portlet.html.twig' %}
      </div>

    </div>

  </div>
{% endblock %}
